.body{
    overflow: hidden;
}

.container-fluid{
    background-color: rgb(76, 48, 200);
    box-shadow:  0 6px 18px  0;
}

.nav-container{

    width: 100%;
    height: 100px;

    background-color: rgb(76, 48, 200);
    
}
.nav{
    align-items:  center;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.nav h1{
    color: white;

}
.nav ul{
    
    display:flex;
    width: 800px;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.nav ul a {
    color:  white;
    text-decoration: none;
}
.nav-button{
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
   
}

.first-container{
     background-color: rgb(76, 48, 200);
     padding: 50px 50px 0 50px;
     overflow: hidden;
     
     
}

.first-card-section{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.first-container h1 {
    font-size:  60px;
    color: white;
}
.first-second-container{
   
    background-color: rgb(55, 26, 184);
    padding: 20px 20px 0 20px;
}
.first-img-div img{
    width: 1050px;
    justify-content: space-evenly;
}

.tags {
    
    gap: 50px;
    line-height: 50px;
    padding: 0!important;
}
.tags a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
}


.second-card{

    width: 180px;
    height: 200px;
    background-color: rgba(229, 223, 223, 0.774);
    border-radius: 20px;
    

}
.second-card h1{
    font-size: 20px;
}
.second-card-img{

    align-items: end;
    height: 400px;
    display: flex;
    object-fit: cover;
    width: 300px;
    
    
}

.second-card-img img {
    object-fit: contain;
    justify-content: center;
    align-items: end;
    display: flex;
    object-fit: cover;
}
.second-card .bi {

color:blue;
font-size: 30px;
}
.third-container{

    padding: 30px   ;
}
.third-card{



    height: 350px;
    object-fit: cover;
    overflow: hidden;
    
    
}
.third-card h1{
  font-size: 20px;
}
.third-img-div img{
    
    height: 300px;
    object-fit: cover;
    width: 180px;
    border-radius: 25px 25px 0 0;

    
    
}
.third-img-div{
    overflow: hidden;
    
}
.four-card{
    width: 300px;
    height: 300px;
    
}
.four-img-div{
    width: 380px;
    height: 200px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 20px;

}

.footer h1{
    font-size: 20px;
}
.footer ul li {
    list-style: none;
}
.footer ul li a {
    
    text-decoration: none;
    color: black;
    
}



@media only screen and (max-width: 630px){

    .body{
        overflow: hidden;
    }
    .nav ul li {
        display: none;
    }
    
   .nav ul {
    
    display: none;
   }
   
  .first-container{

    padding: 0;
  }
   .first-img-div{
    
    align-items: center;
    
   }
   .first-img-div img{
    
    width: 350px;
   }
   .first-container h1{

    font-size: 50px;
   }
   .first-second-container {
    height: auto;
   }
   .tag-div{

    height: auto;
    align-items: center;
    padding: 0;
   }
 
   .tags{
    
    height: auto!important;
    padding: 0;
   }

   .card-one{
    padding: 20px;

   }
   .four-container{

    align-items: center;
    justify-content: center!important;
    
    flex-direction: column;
    
   }
  
   .card-two {
    
    align-items: center;
    justify-items: center;
    padding: 20px;
   }
   .second-container{

    flex-direction: column!important;
   }
   .second-cards{
    
    flex-direction: column;
    padding: 30px;

   }
   .second-card{
    width: 100%;
    

   }
   .last{
    padding: none!important;
    flex-direction: column;
    justify-content: space-between;
    width: 80%!important;
    
     
   }
   .footer {

    align-items: start!important;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    
   }
   .col-md-3{
    
    align-items: start!important;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
   }
   .f-one{
   
    padding: 20px;
    
    margin-left: 20px;
   }

   .f-two{
   
    padding: 20px;
   }

   .f-three{
   padding: 20px;
   }

   .third-card{

    width: 100%;
   }
   .third-img-div{
    width: 100%;
    border-radius: 30px;
   }
   .third-img-div img {
    width: 100%;
    object-fit: cover;
    
   }
   .f-four{
    
    margin-left: 35px;
   }

   .last-img-div{
    
    height: 250px;
   }
   .last-button-div  {

    height: 100px;
   }
   .last-img-div .bi {
    
    font-size: 160px!important;
   }
   .four {
    width: 90%;
   }
}